---
groups:
  - name: alert_rules
    interval: 1s
    rules:
      - alert: ContainerNotRunning
        expr: |
          time() - container_last_seen{image=~"clark.*|nginx|mongo"} > 600
        for: 1m
        labels:
          severity: critical
        annotations:
          summary: Container "{{ $labels.name }}" not running
          description: container "{{ $labels.name }}" has not been seen by cAdvisor for
            more than {{ $value | printf "%.0f" }} seconds
      - alert: SshTunnelDown
        expr: time() - last_health_check_request > 600
        for: 1m
        labels:
          severity: critical
        annotations:
          summary: SSH tunnel for job "{{ $labels.job }}" has not recieved a request for
            over 5 minutes
          description: last_health_check_request metric for job "{{ $labels.job }}" has a
            value of {{ $value | printf "%.0f" }} seconds
      - alert: InstanceDown
        expr: up != 1
        for: 1m
        labels:
          severity: critical
        annotations:
          summary: Container for "{{ $labels.job }}" is down
          description: up metric for container "{{ $labels.job }}" has been zero for more
            than 10 minutes.
      - alert: SCEtaCacheBehind
        expr: time () - cache_last_updated{job="sceta-server"} > 30 * 60
        for: 1m
        labels:
          severity: critical
        annotations:
          summary: SCEta Cache is Behind
          description: The transit data was last updated over 30 min ago, up from the usual 10 min interval.
      - alert: SCEtaTooManyRequests
        # we don't understand how rate() works but we're alerting
        # anytime this metric changes in value
        expr: rate(api_response_codes_total{code="429"}[2h]) > 0
        for: 1m
        labels:
          severity: critical
        annotations:
          summary: SCEta exceeding 511 API call limit
          description: SCEta is getting 429 errors from the 511 API
      - alert: PrinterDoorOpen
        expr: door_status_metric != 0
        for: 1m
        labels:
          severity: critical
        annotations:
          summary: The printer door is open or has a "no print" cartridge
          description: Status code is not 0
      - alert: PrinterPaperTrayIsEmpty
        expr: snmp_error{name=~"tray_empty.*"} == 1
        for: 1m
        labels:
          severity: critical
        annotations:
          summary: The paper tray of the printer is empty
          description: Status code is not 0
      - alert: PrinterRunningOutOfInk
        expr: ink_percent < 0.3
        for: 1m
        labels:
          severity: critical
        annotations:
          summary: The printer has no more ink
          description: Percent is 0
