global:
  scrape_interval: 5s


scrape_configs:
  - job_name: 'SCE-printer'
    static_configs:
      - targets: ['SCE-printer.poweredge:9000']

  - job_name: 'led-sign'
    static_configs:
      - targets: ['192.168.69.143:80']

  - job_name: 'SCE-tv'
    static_configs:
      - targets: ['gyat_server:5001']

  - job_name: 'SCE-tv-pi'
    static_configs:
      - targets: ['192.168.69.165:8000']
  
  - job_name: 'poweredge-2950-node-exporter'
    static_configs:
      - targets: [ 'poweredge-2950-node-exporter:9100' ]
  
  - job_name: 'SCE-sign2'
    static_configs:
      - targets: ['192.168.69.123:8000']

alerting:
  alertmanagers:
    - scheme: http
      static_configs:
        - targets: ['alertmanager:9093']


rule_files:
  - alert_rules.yml

