global:
  scrape_interval: 5s


scrape_configs:
  - job_name: 'sce-printer'
    static_configs:
      - targets: ['sce-printer.poweredge:9000']

  - job_name: 'led-sign'
    static_configs:
      - targets: ['192.168.69.143:80']

  - job_name: 'sce-tv'
    static_configs:
      - targets: ['gyat_server:5001']
  
  - job_name: 'snmp-collector'
    static_configs:
      - targets: ['snmp-collector:5000']

  - job_name: 'poweredge-2950-node-exporter'
    static_configs:
      - targets: [ 'poweredge-2950-node-exporter:9100' ]

  - job_name: 'node-exporter'
    static_configs:
      - targets: [ 'node-exporter:9100' ]
      
  - job_name: 'sceats'
    static_configs:
      - targets: [ 'backend:6970' ]
    metrics_path: '/api/v1/inventory/metrics'

alerting:
  alertmanagers:
    - scheme: http
      static_configs:
        - targets: ['alertmanager:9093']


rule_files:
  - alert_rules.yml

