global:
  scrape_interval: 5s


scrape_configs:
  - job_name: 'sce-printer'
    static_configs:
      - targets: ['sce-printer.poweredge:9000']

  - job_name: 'led-sign'
    static_configs:
      - targets: ['192.168.69.143:80']

  - job_name: 'sce-tv'
    static_configs:
      - targets: ['gyat_server:5001']
  
  - job_name: 'poweredge-2950-node-exporter'
    static_configs:
      - targets: [ 'poweredge-2950-node-exporter:9100' ]

alerting:
  alertmanagers:
    - scheme: http
      static_configs:
        - targets: ['alertmanager:9093']


rule_files:
  - alert_rules.yml

