#sce_logo{
    width: 800px;
}

#outside_container{
    display:flex;
}

#range_data_container{
    margin-left: 20px;
}

#range_headline{
    display: flex;
    align-items: normal;
    padding: 1px;
}